@import '@app/colors';
@import '@app/mixins';

.app-home {
	&__title {
    font-size: 2rem;
    font-weight: 500;
    color: $white;
	}

    .custom-col {
        @media (min-width: 768px) {
          flex: 0 0 19.2%; 
        }
      }
      


}
