.app-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .app-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-card__img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
  }
}