<div class="app-filter mb-3">
  <div class="d-flex justify-content-start align-items-center">
    <label class="form-label text-light">Filter by genre</label>
    <button class="btn btn-danger ms-3" (click)="clearSelection()">X</button>
  </div>

  <div class="custom-multi-select">
    <select class="form-select" multiple>
      <option 
        *ngFor="let genre of availableOptions" 
        [class.selected]="selectedOptionData.includes(genre)"
        (click)="toggleSelection(genre)">
        {{ genre }}
      </option>
    </select>
  </div>
</div>
