.app-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    select {
      width: 200px;
      height: auto;
    }
  
    option {
      cursor: pointer;
    }
  
    .selected {
      background-color: #f0ad4e; /* Color de fondo para opciones seleccionadas */
      color: white;
    }
  }
  